{% extends 'home.html' %}
{% load static %}
{% block body %}
<body>
    <!------- Header ------------>
    {% include 'header.html' %}
          <div id="layoutSidenav">
    <!------- Siderbar ------------>
              {% include 'sidebar.html' %}
              <div id="layoutSidenav_content">
                  <main role = "main">
                      <!-- aca empieza el contenido -->
                      <div class="container-fluid px-4">
                          <h4 class="mt-4">{{ title }}</h4>
                          <hr>
                          <div class="content">
                                <div class="container">
                                    {% block content %}

                                    
                                    {% endblock %}
                                </div>
                            </div>
                            <!-- division-->
                          <div style="height: 100vh"></div>
                          <div class="card mb-4"><div class="card-body">When scrolling, the navigation stays at the top of the page. This is the end of the static navigation demo.</div></div>
                      </div>
                      <!-- aca termina el contenido -->
                  </main>
              {% include 'footer.html' %}
              </div>
          </div>
</body>
{% endblock %}