{% extends 'body.html' %}
{% load static %}
{% block head %}
    <link rel="stylesheet" href="{% static 'lib/datatables-1.10.20/css/dataTables.bootstrap4.min.css' %}"/>

    <script src="{% static 'lib/datatables-1.10.20/js/jquery.dataTables.js' %}"></script>
    <script src="{% static 'lib/datatables-1.10.20/js/dataTables.bootstrap4.min.js' %}"></script>

    <link href="https://cdn.jsdelivr.net/npm/simple-datatables@6.0.0/dist/style.css" rel="stylesheet" />
    <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>

    {% block head_list %}

    {% endblock %}

{% endblock %}

{% block content %}
    <div class="card card-primary">
        <div class="card-header">
            <h3 class="card-title">
                <i class="fas fa-search"></i>
                {{ title }}
            </h3>
        </div>
          <div class="card-body">
            <a href="{% url 'export-csv'%}" class="btn btn-success btn-flat">
            <i class="fa-sharp fa-solid fa-file-csv"></i> Exportar a CSV
            </a>
          </div>

        <div class="card-body">
            <table id="datatablesSimple">
                <thead>
                {% block columns %}

                {% endblock %}
                </thead>
                <tfoot>
                    <tr>
                        <th>Auditor</th>
                        <th>container_tag_id</th>
                        <th>location_id</th>
                    </tr>
                </tfoot>
                <tbody>
                {% block rows %}

                {% endblock %}
                </tbody>
            </table>
        </div>
        <div class="card-footer">
            {% block buttons_list %}
                <a href="{% url 'auditorias_create' %}" class="btn btn-primary btn-flat btnTest">
                    <i class="fas fa-plus"></i> Nuevo registro
                </a>
                <a href="{{ entity }}" class="btn btn-success btn-flat">
                    <i class="fas fa-sync"></i> Actualizar
                </a>

            {% endblock %}
        </div>
    </div>
    <!--<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>-->

    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@latest" crossorigin="anonymous"></script>
    <script src="{% static 'js/datatables-simple-demo.js'%}"></script>
    <script src="{% static 'js/datatables-simple-demo.js'%}"></script>

{% endblock %}

{% block javascript %}
    <script type="application/javascript">
        $(function () {
            $('#data').DataTable({
                responsive: true,
                autoWidth: false
            });

            $('.btnTest').on('click', function () {
                $.ajax({
                    url: '{% url 'erp:category_list' %}',
                    type: 'POST',
                    data: {id: 1},
                    dataType: 'json'
                }).done(function (data) {
                    console.log(data);
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    alert(textStatus + ': ' + errorThrown);
                }).always(function (data) {

                });
            });
        });
    </script>
{% endblock %}

