{% load static %}
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">Core</div>
                    <a class="nav-link" href="{% url 'dashboard' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-tachometer-alt"></i></div>
                        Resumen
                    </a>
                    <div class="sb-sidenav-menu-heading">Modulos</div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Auditoria Recepción
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class= "nav-link" href="{% url 'auditoriarecep' %}" >Resumen</a>
                            <a class="nav-link" href="{% url 'auditorias' %}">Asignación Auditorias</a>
                            <a class="nav-link" href="{% url 'resolucion_list' %}">Resolución</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts2" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Auditoria Preparado
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts2" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class= "nav-link" href="{% url 'auditoriaprepa' %}" >Resumen</a>
                            <a class="nav-link" href="{% url 'auditorias' %}">Asignación Auditorias</a>
                            <a class="nav-link" href="{% url 'resolucion_list' %}">Resolución</a>
                        </nav>
                    </div>
                    <a class="nav-link collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#collapseLayouts3" aria-expanded="false" aria-controls="collapseLayouts">
                        <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                        Auditoria Despacho
                        <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                    </a>
                    <div class="collapse" id="collapseLayouts3" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                        <nav class="sb-sidenav-menu-nested nav">
                            <a class= "nav-link" href="{% url 'auditoriadespa' %}" >Resumen</a>
                            <a class="nav-link" href="{% url 'auditorias' %}">Asignación Auditorias</a>
                            <a class="nav-link" href="{% url 'resolucion_list' %}">Resolución</a>
                        </nav>
                    </div>
                    <div class="sb-sidenav-menu-heading">Addons</div>
                    <!-- reportes historicos -->
                    <a class="nav-link" href="{% url 'report_audit' %}">
                        <div class="sb-nav-link-icon"><i class="fas fa-chart-area"></i></div>
                        Resumen Mensual
                    </a>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">Logged in as: </div>
                Javier Carrion
            </div>
        </nav>
    </div>
