{% extends 'body.html' %}

{% block content%}
<form method="post" action="">
<div class="card mb-4">
    <div class="card-header">
        <h5 class="card-title" >
        <i class="fas fa-plus"></i>
        {{title}}
        </h5>
    </div>
    <div class="card-body">
        {% csrf_token %}
        {{ form }}
    </div>
    <div class = "card-footer">
       <button type="submit" class = "btn btn-primary btn-sm"> 
        <i class="fas fa-save"></i> Guardar Registro 
    </button>
    </div>
</div>
</form>
{% endblock %}