{% extends 'list.html' %}
{% load static %}


{% block columns %}
    <tr>
        <th scope = "col" > opciones </th>
        <th scope = "col" > Auditor </th>
        <th scope = "col" > container_tag_id </th>
        <th scope = "col" > container_stat_dsc </th>
        <th scope = "col" > trip_create_date </th>
        <th scope = "col" > location_id </th>
        <th scope = "col" > item_nbr </th>
        <th scope = "col" > descripción </th>
        <th scope = "col" > label_create_ts </th>
        <th scope = "col" > last_change </th>
    </tr>
{% endblock %}

{% block rows %}
    <tr>
    {% for audi in object_list %}
    <td>
        <a  href ="{% url 'auditorias_update' audi.id %} " class="btn btn-secondary btn-sm" ><i class="fas fa-edit"></i></a>
    </td>
        <td> {{audi.user }}</td>
        <td> {{audi.container_tag_id}}</td>
        <td> {{audi.container_stat_dsc}} </td>
        <td> {{audi.trip_create_date}} </td>
        <td> {{audi.location_id}} </td>
        <td> {{audi.item_nbr}} </td>
        <td> {{audi.item1_desc}} </td>
        <td> {{audi.label_create_ts}} </td>
        <td> {{audi.last_change_ts}} </td>
    </tr>
    {% endfor %}
{% endblock %}